* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'sans-serif';
}
:root{
    --main-color:  #B63956;
    --main-color-2:#8B8B8B;
    --main-color-3:#17191e;
}
.one_background{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
/* setting box Start */
.setting_box{
    position: fixed;
    left: -200px;
    top: 0px;
    width: 200px;
    background-color: black;
    height: 100vh;
    z-index: 100000;
    transition: 0.5s;
}

.setting_box.open{
    left: 0px;
}
.setting_box .icons_settings {
    position: absolute;
    right: -30px;
    top: 180px;
    height: 30px;
    width: 30px;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spin{
    animation: spin 0.5s linear;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }   
    to{
        transform: rotate(180deg);
    }
}
.setting_box .setting_container{
    width: 100%;
    height: 100%;
    background-color: #bbb7b7;
}
.setting_container .options_box{
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    background-color: #bbb7b7;
   
}
.setting_container hr{

  border: none;
  height: 3px;
  background:black;
  margin: 10px 0;

}

.setting_container .options_box h1{
    padding: 10px;
    color: var(--main-color);
    font-size: 40px;
    
}

.setting_container .options_box ul{
    
    width: 100%;
    height: 50px;
    top: 20px;

}

.setting_container .options_box ul li{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 12px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}
.setting_container .options_box ul li.active{
    opacity: 1;
    border: 2px solid black;
}
.setting_container .options_box ul li:first-child{

    background-color: #E09B03;

}
.setting_container .options_box ul li:nth-child(2){
    background-color: #008889;
}
.setting_container .options_box ul li:nth-child(3){
    background-color: #B63956;
}
.setting_container .options_box ul li:nth-child(4){
    background-color: #429D52;
}

.setting_container .options_box ul li:nth-child(5){
    background-color: #2F374A;
}
.setting_box .options_box .randback button.active{
    opacity: 1;
}
.setting_box .options_2_box{
    
    position: relative;
    width: 100%;
    height: 140px;
    
}
.setting_box .options_2_box{
    padding: 10px;
    color: var(--main-color);
    font-size: 25px;
}
.setting_box .options_2_box .yes{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    left: 4px;
    opacity: 0.5;
    top: 80px;
    cursor: pointer;
}

.setting_box .options_2_box .no{
    position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    left: 100px;
    top: 80px;
    opacity: 0.5;
    cursor: pointer;
}
.randback button{
    opacity: 0.5;
    transform: scale(0.95);
    transition: 0.3s;
    background: #222;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.randback button.active{
    opacity: 1;
    transform: scale(1.1);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* sidebar mode Start*/
/* menu sidebar only */
body.menu-sidebar .nav-links{
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    background-color: #17191e00;
    z-index: 999999;
    padding-top: 80px;
    
}

/* list layout */
body.menu-sidebar .nav-links ul{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}

/* make links clickable full width */
body.menu-sidebar .nav-links ul li{
    width: 100%;
}

body.menu-sidebar .nav-links ul li a{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 6px;
}

/* hover effect */
body.menu-sidebar .nav-links ul li a:hover{
    background-color: rgba(255,255,255,0.1);
}
.options_3_box{
    margin-top: 0px;
    width: 100%;
    height: 130px;
    
}
.options_3_box h2{
    padding: 10px;
    color: var(--main-color);
    font-size: 30px;
    
}
.options_3_box .navstyle{
    position: relative;
}
.options_3_box .navstyle .side{
     position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    left: 4px;
    opacity: 0.5;

    cursor: pointer;
}


.options_3_box .navstyle .top{
   position: absolute;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    left: 100px;

    opacity: 0.5;
    cursor: pointer;
}

.side,
.top{
    opacity: 0.5;
    transform: scale(0.95);
    transition: 0.3s;
    background: #222;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.side.active,
.top.active{
    opacity: 1;
    transform: scale(1.1);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* sidebar mode End*/
/* setting box End */
/* landing page Start */
.container{
    background-color: var(--main-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
}
.container .landing_page{
    min-height: 100vh;
    width: 100%;
    background-color: #17191e94;
    z-index: 22222;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #17191e94;
    
    z-index: 22222;
}
.header .logo{
    position: relative;
}
.header .logo img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 60px;
    top: -20px;
    z-index: 3;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding-right: 40px;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 40px;
}
.header ul li{
    margin: 20px;
    z-index: 2;
}
.header ul li a{
    color: #EEE;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 6px;
}
.header ul li a:hover,
.header ul li a:active{
    color: var(--main-color);
    background-color: rgba(255,255,255,0.1);
}

.intro_text {
    position: relative;
    height: 100vh; 
}


.phars {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EEE;
    font-size: 90px;
}
.line1, .line2 {
    margin: 10px 0;
    
}
.line1 {
    position: relative;
    left: -50px;
}

.line2 {
    position: relative;
    top: 30px;
    left: 80px;
}

.line1 p span{
    display: inline-block;
    color: var(--main-color);
    transform: scale(1.3);
    font-display: bold;
}
.line2 p span{
    display: inline-block;
    color: var(--main-color);
    transform: scale(1.3);
    margin-left: 20px;
    font-style: bold;
}

.intro_text .p1{
    color: #EEE;
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
}
.container button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 60px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px;
    border-color: var(--main-color);
    border-width: 2px;
    background-color: #17191E;
    transition: 0.3s;
    z-index: 1222222;
}
.container button:hover{
    border-radius: 7px;
    color: var(--main-color);
}
/* landing page End */
